<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>다니의 자기소개 페이지</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">DAEUN</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/민증2.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#bucketList">Bucket List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#motto">Motto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#hobby">Hobby</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#diary">Diary</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Lee
            <span class="text-primary">Daeun</span>
          </h1>
          <div class="subheading mb-5">동덕여자대학교 컴퓨터학과, 010-1234-1234 ·
            <a href="mailto:name@email.com">lovedaby@likelion.org</a>
          </div>
          <p class="mb-5">저는 23살 기욤둥이 다니애오 방가워여 꾸쭈뿌쭈</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

     



      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">파랑새 유치원</h3>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"> March 2000 - February 2001</span>
            </div>
          </div>
          
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">소하 어린이집</h3>
              <div class="subheading mb-3">햇님반</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"> March 2001 - February 2003</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">소하 초등학교</h3>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"> March 2003 - February 2009</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">소하 중학교</h3>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2009 - February 2012</span>
            </div>
          </div>
          
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">광명 고등학교</h3></h3>
              <div class="subheading mb-3">문과</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2012 - February 2015</span>
            </div>
          </div>
          
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">동덕 여자 대학교</h3>
              <div class="subheading mb-3">컴퓨터학과</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2015 - February 2020</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="bucketList">
        <div class="my-auto">
          <h2 class="mb-5">Bucket List</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              타투 해보기</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              클럽 가보기</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              2021년 결혼하기</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              크로아티아 가보기</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              제주도 살아보기</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              엄마아빠 해외여행 보내드리기</li>  
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="motto">
        <div class="my-auto">
          <h2 class="mb-5">Motto</h2>
          <p>긍정적인 영향력을 미치는 사람이 되자</p>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="hobby">
        <div class="my-auto">
          <h2 class="mb-5">Hobby</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-heart text-warning"></i>
              남자친구랑 데이트</li>
            <li>
              <i class="fa-li fa fa-heart text-warning"></i>
              남자친구랑 사진 찍기</li>
            <li>
              <i class="fa-li fa fa-heart text-warning"></i>
             멍멍이랑 뒹굴거리기</li>
            <li>
              <i class="fa-li fa fa-heart text-warning"></i>
              혼자 영화보기</li>
            <li>
              <i class="fa-li fa fa-heart text-warning"></i>
              맛있는거 만들기</li>
            <li>
            <li>
              <i class="fa-li fa fa-heart text-warning"></i>
              떡볶이 먹기</li>
            <li>
              <i class="fa-li fa fa-heart text-warning"></i>
              드라마 보기</li>
          </ul>
        </div>
      </section>
      
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="diary">
        <div class="my-auto">
          <h2 class="mb-5">Diary</h2>

<a href="/home/new">새 글 쓰기</a><br><br>

            
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>

